.main{
    margin-left: 500px;
}
.dept-style,
.emp-style,
.role-style,
.manager-style,
.task-style {
  display: inline-block;
  height: 5%;
  width: max-content;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border-radius: 10px;
  font-weight: bold;
  color: white;
}

.dept-style {
  background: linear-gradient(135deg, #00b4db, #0083b0);
}

.emp-style {
  background: linear-gradient(135deg, #f46b45, #eea849);
}

.role-style {
  background: linear-gradient(135deg, #5f2c82, #49a09d);
}

.manager-style {
  background: linear-gradient(135deg, #ff512f, #dd2476);
}

.task-style {
  background: linear-gradient(135deg, #f9d423, #ff4e50);
}
.nav{
    position: absolute;
    background: rgb(9,8,17);
    background: linear-gradient(90deg, rgba(9,8,17,1) 0%, rgba(0,0,0,1) 35%, rgba(17,28,31,1) 100%);
    width: fit-content;
    height: 100vh;
    margin-top: 0;
    display: flex;
    margin-right: 90vw;
    padding-top: 20vh;
    justify-content: space-evenly;
}
.nav li{
    list-style: none;
    justify-content: space-evenly;
    margin: 10px;
    padding: 10px;
    color: white;
    font-size: 20px;
}